img {
    height: auto;
    width: 500px;
}
#odinr {
    font-family: 'Times New Roman', Times, serif;
}
#ingredients {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
#instructions {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}